*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.container{
    max-width:1280px;
    margin:0 auto;
    padding:0 15px;
}


nav{
    background-color: white;
    padding: 25px 0px;
    position: sticky;
    top: 0;
}

button{
    padding: 11px 18px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    transition: 1.2s;
    &:hover{
        background-color: black;
        color: white;
    }
}

.btngroup{
    display: flex;
    justify-content: center;
    column-gap: 15px;
    
}
